@import 'mixins';

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    @include center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

[type=number]{
    padding: 0px 10px;
}

[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

[type=submit], button {
    cursor: pointer;
    font-weight: 600;
}

